* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(meme.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 500px;
  border: 0px solid rgba(255, 255, 255, .2);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  background: url('');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(1px);
}

.wrapper h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 4px#000000;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 30px 0;
  text-shadow: 2px 2px 4px#000000;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 7px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 25px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  text-shadow: 2px 2px 4px#000000;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}

.input-box .password-icon,
.input-box .confirm-password-icon {
  right: 50px;
}

.wrapper .checkbox-links {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: -15px 0 15px;
  text-shadow: 2px 2px 4px#000000;
}

.checkbox-links label input {
  accent-color: #fff;
  margin-right: 3px;
  text-shadow: 2px 2px 4px#000000;
}

.checkbox-links a {
  color: #fff;
  text-decoration: none;
}

.checkbox-links a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 50px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 30px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 15px;
  text-shadow: 2px 2px 4px#000000;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.bx-hide::before {
  content: '\f606';
}

.bx-show::before {
  content: '\f600';
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.hero-header{
    width:100%;
    height: 100%;
    min-height: 100vh;
    background: black;
}
.wrapper{
    width:1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

    .logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color:#fff;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:4rem;
}
.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid green;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}
.hero-pic img{
    height: 100%;
    width:100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color:#e5e5e5;
    font-size: 14px;
}
.hero-text h5 span{
    color:#007ced;
    font-size: 16px;
}
.hero-text h1{
    color: green;
    font-size: 3rem;
}
.hero-text p{
    color:#e5e5e5;

}
.btn-group{
    margin:45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color:#fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right:7px;
    border-radius: 30px;
    border:2px solid #e5e5e5;
    box-shadow:  0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn.active{
    border-color: green;
}

@media(max-width:930px)
   { 
@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top:2rem
    }
    .hero-text{
        padding:40px 0px;
    } }
  }
